<section style="background-image: url(https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=1380&t=st=1694165680~exp=1694166280~hmac=4db7b612f7c2409ac7b4ffeffb8b823a7688e0a366f4ddbb0a59679a39ab0e09); height:86.5vh;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://miro.medium.com/v2/resize:fit:2400/1*EjWW4Ckv7aBydiyr6Fy7lA.png"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:75vh; object-fit: cover;" />
            </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center" style="background-image:url(https://img.freepik.com/premium-vector/abstract-medical-background-with-hexagons-pattern-concepts-ideas-healthcare-technology-innovation-medicine-health-science-research_120542-537.jpg?w=2000);border-radius: 0 1rem 1rem 0;">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Sysme</span>
                  </div>
                  <p class="mt-0">Sizning raqamli yordamchingiz</p>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" required="true" />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" required="true" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  @if (TempData["errorMessage"] is not null)
                  {
                  <div class="alert-danger mb-4">
                    @TempData["errorMessage"]
                  </div>
                  }

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" asp-controller="Home" asp-action="Login">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a asp-controller="Patients"
                     asp-action="Register" style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



